body{
   background-image: url(img/fundo.jpeg);
   background-size: cover;
}
.caixa{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.caixa > button{
    font-size: 30px;
    width: 250px;
    height: 80px;
    background-color: white;
    border: 100px cyan;
    border-radius: 20%;
}
.caixa > h1{
  font-family: Verdana;
}
.caixa > button:hover {
   /* some o fundo */
    transform: translateY(-4px); /* levita pra cima */
    background: rgba(255, 255, 255, 0.3);
}